@font-face {
    font-family: "nunito";
    src: url(assets/Nunito/Nunito-VariableFont_wght.ttf);
}

/* Styling for the entire page */
* {
    font-family: "nunito", sans-serif;
    font-size: 16px;
    cursor: url(assets/cursor.png), auto;
    margin: 0;
    padding: 0;
}

a:hover, #socials-row img {
    cursor: url(assets/cursor_click.png), auto;
}

.blue-colored-section, .pink-colored-section {
    height: 100vh;
    padding: 2% 11% 0 11%;
}

.blue-colored-section {
    background-color: #B1EDE8;
}

.pink-colored-section {
    background-color: #FFA69E;
}

h1 {
    font-size: calc(3rem + 1vw);
}

h2 {
    font-size: calc(2.5rem + 1vw);
}

h3 {
    font-size: calc(1.5rem + 1vw);
}

h4 {
    font-size: calc(1.25rem + 1vw);
}
#menu {
    display: none;
    background-color: white;
    padding: 10px;
    top: 10px;
    position: fixed;
    z-index: 10;
    margin-left: 20px;
    vertical-align: auto;
    border-radius: 10px;
}

#menu a {
    display: block;
    padding-bottom: 10px;
}

#menu a:hover {
    display: block;
    padding-bottom: 10px;
    background-color: red;
}

ul {
    list-style-position: inside;
}

/* Styling the Index Div */

#index-div h2 {
    float: right;
    margin-top: 100px;
    text-align: right;
    width: 100%;
}

#index-div img {
    width: 25%;
    min-width: 250px;
    height: auto;
    border-radius: 10%;
}

/* Styling the Skills Div */

#proficiency-scale {
    width: fit-content;
    margin: 0 auto 30px auto;
}

#proficiency-scale h3 {
    display: inline;
    margin: 0 10px 0 10px;
}

#proficiency-scale h3:nth-child(1) {
    text-shadow: 3px 3px 3px red;
}

#proficiency-scale h3:nth-child(2) {
    text-shadow: 3px 3px 3px yellow;
}

#proficiency-scale h3:nth-child(3) {
    text-shadow: 3px 3px 3px green;
}

#skills-container-wrapper {
    overflow-x: auto;
}

#skills-container {
    margin: 25px auto 0 auto;
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 30px 40px;
    overflow-x: auto;
}

.skills-row {
    display: table-row;
}

.individual-skill {
    display: table-cell;
    text-align: center;
}

.individual-skill img {
    height: 95px;
    transition: transform .3s;
}

/* "Weakest" skill */
.beginner-skill {
    filter: drop-shadow(10px 10px 5px red);
}

/* Medium skill */
.intermediate-skill {
    filter: drop-shadow(10px 10px 5px yellow);
}

/* Strongest skill */
.proficient-skill {
    filter: drop-shadow(10px 10px 5px green);
}

.individual-skill p {
    margin-top: 15px;
    visibility: hidden;
    font-size: calc(.2rem + 1vw);;
}


/* Styling Portfolio Div */

#github-header h3 {
    display: block;
    text-align: center;
}

.timeline {
    position: relative;
    width: 100%;
    margin: 250px auto;
    height: 2px; /* Adjust the thickness of the line */
    background-color: #333;
}

.tick-mark {
    position: absolute;
    width: 2px; /* Adjust the thickness of the tick marks */
    height: 20px; /* Adjust the length of the tick marks */
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-photo {
    width: 10vw; /* Adjust the width of the event photo */
    min-width: 80px;
    height: auto; /* Adjust the height of the event photo */
    object-fit: cover; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Adjust the distance from the timeline */
    position: absolute;
    top: -100px; /* Adjust the distance above the horizontal line */
    transition: transform .3s;
}

.date, .event-title, .event-description {
    /* font-size: 25px; */
    color: #333;
    text-align: center;
    width: max-content; 
}

.date {
    margin-top: 25px; /* Adjust the distance from the tick-mark */
    font-size: calc(.25rem + 1vw);
}

.event-title {
    margin-top: 10px; /* Adjust the distance from the date */
    font-size: calc(.5rem + 1vw);
}

.event-description {
    margin-top: 10px;
    text-align: left;
    font-size: calc(.2rem + 1vw);
    width: 200px;
}

/* Styling About Me Div */
#about-table {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    height: 60%;
}

.about-row {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1% 0 1%;
}

/* Education */
.about-row:nth-child(1) {
    width: 49%;
}

/* Interests */
.about-row:nth-child(2) {
    margin: 6% 0 0 0;
    width: 49%;
}

/* Music */
.about-row:nth-child(3) {
    text-align: left;
    width: 49%;
}

.about-row h3 {
    margin-bottom: 15px;
}

.about-row:nth-child(4) {
    margin: 3% 0 0 0;
    width: 49%;
}

.about-row p {
    font-size: calc(.2rem + 1vw);
    padding-bottom: 10px;
}

#book-title {
    visibility: hidden;
}

/* Styling Contact Page */

#contact-div {
    height: 83vh;
}

#contact-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.contact-col {
    width: 49%;
    display: block;
}

.contact-col:nth-child(1) {
    float: left;
}

.contact-col:nth-child(2) {
    float: right;
}

.contact-col p, .contact-col li, .contact-col a {
    font-size: calc(.2rem + 1vw);
}

.contact-col:nth-child(1) p {
    padding-bottom: 10px;
}

#email {
    font-size: calc(.4rem + 1vw);
}

footer {
    /* height: 5vh; */
    padding-top: 10px;
    width: 100%;
    text-align: center;
    background-color: #FFA69E;
}

#socials-row {
    display: flex;
    width: fit-content;
    margin: 0 auto 0 auto;
    text-align: justify;
}

#socials-row img {
    height: 75px;
    margin-right: 50px;
    margin-left: 50px;
}
/* Making sure everything is sized right*/
/* Extra small devices (phones, 600px and down) STRICTLY PHONES */
@media only screen and (max-width: 600px) {
    .blue-colored-section, .pink-colored-section {
        height: 100vh;
        padding: 50px 5%;
    }

    h1, h2 {
        float: none;
        text-align: center !important;
    }

    #index-div h2 {
        margin-bottom: 15%;
        margin-top: 50px;
    }

    #index-div img {
        display: block;
        margin: 0 auto 0 auto;
        width: 15%;
    }

    #proficiency-scale h3 {
        display: block;
    }

    #skills-container {
        width: 100%;
        border-collapse: separate;
        border-spacing: 20px;
    }

    .individual-skill img {
        height: 75px;
    }

    #proficiency-scale h3:nth-child(1) {
        text-shadow: 2px 2px 2px red;
    }
    
    #proficiency-scale h3:nth-child(2) {
        text-shadow: 2px 2px 2px yellow;
    }
    
    #proficiency-scale h3:nth-child(3) {
        text-shadow: 2px 2px 2px green;
    }

    .event-description {
        display: none;
    }

    .event-title {
        width: fit-content;
    }

    .event-photo {
        top: -50px; /* Adjust the distance above the horizontal line */
    }

    .about-row p {
        font-size: calc(.5rem + 1vw);
    }

    .about-row:nth-child(2) {
        margin: auto 0 auto 0;
    }

    #about-table {
        margin-top: 10px;
        height: auto;
    }

    .about-row {
        text-align: center !important;
        width: 100%;
    }

    .about-row h3 {
        margin-bottom: 0;
    }

    .about-row:nth-child(1),
    .about-row:nth-child(2),
    .about-row:nth-child(3),
    .about-row:nth-child(4) {
        width: 100%;
        margin: 0;
    }

    .about-row:nth-child(3) iframe {
        height: max-content;
        width: max-content;
    }

    /* Book */
    .about-row:nth-child(4) img {
        display: none;
    }

    #book-title {
        visibility: visible;
    }

    #contact-div {
        height: 80vh;
    }

    .contact-col {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .contact-col p, .contact-col a, #email, .contact-col li {
        font-size: calc(.75rem + 1vw);
    }

    .contact-col:nth-child(1) {
        margin-bottom: 50px;
    }

    #socials-row img {
        height: 40px;
        margin: 0 10px 0 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) STRICTLY IPADS */
@media only screen and (min-width: 600px) and (max-width: 1024px) {

    .blue-colored-section, .pink-colored-section {
        height: 100vh;
        padding: 2% 5% 0 5%;
    }

    .event-description {
        display: none;
    }

    .event-title {
        width: fit-content;
    }

    .event-photo {
        top: -50px; /* Adjust the distance above the horizontal line */
    }

    .about-row p {
        font-size: calc(.75rem + 1vw);
    }

    #about-table {
        height: auto;
    }

    .about-row {
        text-align: center !important;
        width: 100%;
    }

    .about-row:nth-child(1),
    .about-row:nth-child(2),
    .about-row:nth-child(3),
    .about-row:nth-child(4) {
        width: 100%;
        margin: 0;
    }

    .contact-col p, .contact-col a, #email, .contact-col li {
        font-size: calc(1rem + 1vw);
    }

    #contact-div {
        height: 90vh;
    }

    .contact-col {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .contact-col:nth-child(1) {
        margin-bottom: 50px;
    }

    .about-row {
        margin-bottom: 30px;
    }
}

/* Medium devices (landscape tablets, 768 px and up) IPAD AND LARGER */
@media only screen and (min-width: 768px) {
    .event-photo:hover {
        transform: scale(2) translateY(-20px);
    }

    #index-div img {
        margin-top: 10%;
    }
}

/* Large devices (laptops/dekstops, 992px and up) DESKTOP AND LARGER */
@media only screen and (min-width: 1025px) {
    #menu {
        display: block;
    }

    .individual-skill img:hover {
        transform: scale(1.2);
    }

    .event-photo:hover {
        transform: scale(2) translateY(-20px);
    }

    .individual-skill img:hover ~ p {
        visibility: visible;
    }

    #index-div img {
        margin-top: 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
    
} */