@font-face {
    font-family: "nunito";
    src: url(assets/Nunito/Nunito-VariableFont_wght.ttf);
}

/* Styling for the entire page */
* {
    font-family: "nunito", sans-serif;
    font-size: 16px;
    cursor: url(assets/cursor.png), auto;
    margin: 0;
    padding: 0;
}

a:hover {
    cursor: url(assets/cursor_click.png), auto;
}

.blue-colored-section, .pink-colored-section {
    height: 100vh;
    padding: 2% 11% 0 11%;
}

.blue-colored-section {
    background-color: #B1EDE8;
}

.pink-colored-section {
    background-color: #FFA69E;
}

h1 {
    font-size: calc(3rem + 1vw);
}

h2 {
    font-size: calc(2.5rem + 1vw);
}

#menu {
    display: none;
    background-color: white;
    padding: 10px;
    top: 10px;
    position: fixed;
    z-index: 10;
    margin-left: 20px;
    vertical-align: auto;
    border-radius: 10px;
}

#menu a {
    display: block;
    padding-bottom: 10px;
}

#menu a:hover {
    display: block;
    padding-bottom: 10px;
    background-color: red;
}

/* Styling the Index Div */

#index-div h2 {
    float: right;
    margin-top: 125px;
    text-align: right;
    width: 100%;
}

#index-div img {
    margin-top: 3%;
    width: 25%;
    min-width: 250px;
    height: auto;
    border-radius: 10%;
}

/* Styling the Skills Div */

#slider {
    width: max-content;
    margin: 0 auto 20px auto;
    clear: left;
}


#skills-container {
    margin: 25px auto 0 auto;
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 50px;
}

.skills-row {
    display: table-row;
}

.individual-skill {
    display: table-cell;
    text-align: center;
}

.individual-skill img {
    height: 100px;
    transition: transform .3s;
}

.individual-skill img:hover {
    transform: scale(1.2);
}

/* "Weakest" skill */
.beginner-skill {
    filter: drop-shadow(10px 10px 5px red);
}

/* Medium skill */
.intermediate-skill {
    filter: drop-shadow(10px 10px 5px yellow);
}

/* Strongest skill */
.proficient-skill {
    filter: drop-shadow(10px 10px 5px green);
}

.individual-skill p {
    margin-top: 15px;
    visibility: hidden;
    font-size: calc(.2rem + 1vw);;
}

.individual-skill img:hover ~ p {
    visibility: visible;
}


/* Styling Portfolio Div */
.project {
    width: max-content;
    text-align: center;
    max-width: 750px;
    display: inline-block;
}

.project:nth-child(3) {
    float: right;
}


/* Making sure everything is sized right*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .blue-colored-section, .pink-colored-section {
        height: 100vh;
        padding: 50px 5%;
    }

    h1, h2 {
        float: none;
        text-align: center !important;
    }

    #index-div h2 {
        margin-bottom: 15%;
        margin-top: 50px;
    }

    #index-div img {
        display: block;
        margin: 0 auto 0 auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768 px and up)*/
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/dekstops, 992px and up) */
@media only screen and (min-width: 1024px) {
    #menu {
        display: block;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
    
} */