@font-face {
    font-family: "nunito";
    src: url(assets/Nunito/Nunito-VariableFont_wght.ttf);
}

/* Styling for the entire page */
* {
    font-family: "nunito", sans-serif;
    font-size: 16px;
    cursor: url(assets/cursor.png), auto;
    margin: 0;
    padding: 0;
}

a:hover {
    cursor: url(assets/cursor_click.png), auto;
}

.blue-colored-section, .pink-colored-section {
    height: 100vh;
    padding: 2% 11% 0 11%;
}

.blue-colored-section {
    background-color: #B1EDE8;
}

.pink-colored-section {
    background-color: #FFA69E;
}

h1 {
    font-size: calc(3rem + 1vw);
}

h2 {
    font-size: calc(2.5rem + 1vw);
}

#menu {
    display: none;
    background-color: white;
    padding: 10px;
    top: 10px;
    position: fixed;
    z-index: 10;
    margin-left: 20px;
    vertical-align: auto;
    border-radius: 10px;
}

#menu a {
    display: block;
    padding-bottom: 10px;
}

#menu a:hover {
    display: block;
    padding-bottom: 10px;
    background-color: red;
}

/* Styling the Index Div */

#index-div h2 {
    float: right;
    margin-top: 125px;
    text-align: right;
    width: 100%;
}

#index-div img {
    margin-top: 3%;
    width: 25%;
    min-width: 250px;
    height: auto;
    border-radius: 10%;
}

/* Styling the Skills Div */

#slider {
    width: max-content;
    margin: 0 auto 0 auto;
    clear: left;
}

#lang-side, #framework-side {
    border-radius: 10px;
    background-color: blue;
    display: inline;
    color: white;
    padding: 0 20px;
    font-size: calc(.75rem + 1vw);;
}

#lang-side:hover, #framework-side:hover {
    background-color: rgb(5, 5, 174);
    cursor: url(assets/cursor_click.png), auto;
}

#skills-container {
    width: 100%;
    margin-top: 50px;
}

.skills-row {
    display: flex;
    margin: 50px 10px;
}

.individual-skill {
    position: relative;
    margin-right: 200px;
}

.individual-skill p {
    display: none;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 5px;
    right: 0;
    /* visibility: hidden; */
    font-size: calc(.25rem + 1vw);
    height: max-content;
    width: max-content;
}

.individual-skill img {
    display: block;
    width: 100%;
}

.novice-skill {
    width: 10%;
    max-width: 150px;
}

.individual-skill img:hover {
    opacity: 40%;
}

.individual-skill img:hover + p {
    /* visibility: visible; */
    display: block;
}

.proficient-skill {
    width: 15%;
    max-width: 175px;
}

.expert-skill {
    width: 25%;
    max-width: 200px;
}

/* Styling Portfolio Div */
.project {
    width: max-content;
    text-align: center;
    max-width: 750px;
    display: inline-block;
}

.project:nth-child(3) {
    float: right;
}


/* Making sure everything is sized right*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .blue-colored-section, .pink-colored-section {
        height: 100vh;
        padding: 50px 5%;
    }

    h1, h2 {
        float: none;
        text-align: center !important;
    }

    #index-div h2 {
        margin-bottom: 15%;
        margin-top: 50px;
    }

    #index-div img {
        display: block;
        margin: 0 auto 0 auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768 px and up)*/
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/dekstops, 992px and up) */
@media only screen and (min-width: 1024px) {
    #menu {
        display: block;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
    
} */