#axes {
    margin-top: 20px;
    margin-left: 5px;
    padding-left: 25px;
}

#language-pictures-column {
    /* background-color: red; */
    width: 15px;
    height: 400px;
    border-radius: 10px 10px 0 0;
    float: left;
    margin-top: 20px;
}
.skills-picture {
    float: right;
    height: 60px;
    width: auto;
    margin-bottom: 30px;
}

#y-axis {
    background-color: lightgray;
    width: 15px;
    height: 500px;
    border-radius: 10px 10px 0 0;
}

#x-axis {
    background-color: lightgray;
    width: 75%;
    height: 15px;
    border-radius: 0 10px 10px 0;
}