#axes {
    margin-top: 20px;
    margin-left: 5px;
    padding-left: 25px;
}

#language-pictures-column {
    /* background-color: black; */
    width: 100px;
    height: 400px;
    border-radius: 10px 10px 0 0;
    float: left;
    margin-top: 30px;
}
.skills-picture {
    float: right;
    height: 60px;
    width: auto;
    margin-bottom: 40px;
    position: relative;
    right: 80px;
}

#y-axis {
    background-color: lightgray;
    width: 15px;
    height: 500px;
    border-radius: 10px 10px 0 0;
    padding-top: 20px;
    padding-left: 15px;
}

#x-axis {
    background-color: lightgray;
    width: 100%;
    height: 15px;
    border-radius: 0 10px 10px 0;
}
/* Bars for Skills */
.skill-bar {
    position: relative;
    left: 15px;
    border-radius: 0 10px 10px 0;
    margin-bottom: 10px;
}

#python-skill-bar {
    background-color: red;
    width: 90%;
    height: 15px;
    bottom: 475px;
}
#cpp-skill-bar {
    background-color: green;
    width: 80%;
    height: 15px;
    bottom: 400px;
}
#rust-skill-bar {
    background-color: purple;
    width: 60%;
    height: 15px;;
    bottom: 325px;
}

#html-skill-bar {
    background-color: magenta;
    width: 75%;
    height: 15px;;
    bottom: 250px;
}

#js-skill-bar {
    background-color: violet;
    width: 80%;
    height: 15px;;
    bottom: 175px;
}