.axes {
    margin-top: 20px;
    margin-left: 5px;
    padding-left: 25px;
}

.language-pictures-column {
    /* background-color: black; */
    width: 100px;
    height: 400px;
    border-radius: 10px 10px 0 0;
    float: left;
    margin-top: 30px;
}
.skills-picture {
    float: right;
    height: 60px;
    width: auto;
    margin-bottom: 40px;
    position: relative;
    right: 80px;
}

.y-axis {
    background-color: lightgray;
    width: 15px;
    height: 500px;
    border-radius: 10px 10px 0 0;
    padding-top: 20px;
    padding-left: 15px;
}

.taller-axis {
    height: 590px;
}

.x-axis-languages, .x-axis-frameworks, .x-axis-other-skills {
    background-color: lightgray;
    width: 100%;
    height: 15px;
    border-radius: 0 10px 10px 0;
}

.x-axis-labels {
    /* background-color: aqua; */
    font-size: 23px;
    height: 10px;
    display: flex;
    padding-left: 85px;
    width: 100%;
}

#novice-label {
    margin-right: 33%;
}

#proficient-label {
    margin-right: 33%;
}

/* Proficiency Bars for Languages */
.skill-bar {
    position: relative;
    left: 15px;
    border-radius: 0 10px 10px 0;
    margin-bottom: 10px;
    height: 17px;
    background-color: gray;
}

#python-skill-bar {
    width: 0%;
    bottom: 560px;
}

@keyframes python-animation {
    from {
        width: 0%;
    }
    to {
        width: 70%;
    }
}

#cpp-skill-bar {
    width: 0%;
    bottom: 485px;
}

@keyframes cpp-animation {
    from {
        width: 0%;
    } to {
        width: 45%;
    }
}

#rust-skill-bar {
    width: 0%;
    bottom: 410px;
}

@keyframes rust-animation {
    from {
        width: 0%;
    } to {
        width: 35%;
    }
}

#html-skill-bar {
    width: 0%;
    bottom: 335px;
}

@keyframes html-animation {
    from {
        width: 0%;
    } to {
        width: 60%;
    }
}

#js-skill-bar {
    width: 0%;
    bottom: 260px;
}

@keyframes js-animation {
    from {
        width: 0%;
    } to {
        width: 80%;
    }
}

#nosql-skill-bar {
    width: 0%;
    bottom: 195px;
}

@keyframes nosql-animation {
    from {
        width: 0%;
    } to {
        width: 20%;
    }
}

/* Proficiency Bars for Frameworks/Other */
#express-skill-bar {
    width: 10%;
    bottom: 470px;
}

@keyframes express-animation {
    from {
        width: 0%;
    } to {
        width: 20%;
    }
}

#bootstrap-skill-bar {
    width: 0%;
    bottom: 400px;
}

@keyframes bootstrap-animation {
    from {
        width: 0%;
    } to {
        width: 30%;
    }
}

#node-skill-bar {
    width: 10%;
    bottom: 330px;
}

@keyframes node-animation {
    from {
        width: 0%;
    } to {
        width: 40%;
    }
}

#jquery-skill-bar {
    width: 10%;
    bottom: 260px;
}

@keyframes jquery-animation {
    from {
        width: 0%;
    } to {
        width: 20%;
    }
}
/* Proficiency Bars for Other Skills */
#github-skill-bar {
    width: 0%;
    bottom: 475px;
}

@keyframes github-animation {
    from {
        width: 0%;
    } to {
        width: 85%;
    }
}

#git-skill-bar {
    width: 0%;
    bottom: 400px;
}

@keyframes git-animation {
    from {
        width: 0%;
    } to {
        width: 75%;
    }
}

#oop-skill-bar {
    width: 0%;
    bottom: 325px;
}

@keyframes oop-animation {
    from {
        width: 0%;
    } to {
        width: 70%;
    }
}

#dom-skill-bar {
    width: 0%;
    bottom: 250px;
}

@keyframes dom-animation {
    from {
        width: 0%;
    } to {
        width: 35%;
    }
}

#mongo-skill-bar {
    width: 0%;
    bottom: 175px;
}

@keyframes mongo-animation {
    from {
        width: 0%;
    } to {
        width: 20%;
    }
}

/* To add delays, add number after second number in animation property */
@media (prefers-reduced-motion: no-preference) {
    /* Languages */
    .python-animation {
        animation: python-animation 1s 1 forwards;
    }
    .cpp-animation {
        animation: cpp-animation 1s 1 forwards;
    }
    .rust-animation {
        animation: rust-animation 1s 1 forwards;
    }
    .html-animation {
        animation: html-animation 1s 1 forwards;
    }
    .js-animation {
        animation: js-animation 1s 1 forwards;
    }

    .nosql-animation {
        animation: nosql-animation 1s 1 forwards;
    }

    /* Frameworks */

    .express-animation {
        animation: express-animation 1s 1 forwards;
    }

    .bootstrap-animation {
        animation: bootstrap-animation 1s 1 forwards;
    }

    .node-animation {
        animation: node-animation 1s 1 forwards;
    }

    .jquery-animation {
        animation: jquery-animation 1s 1 forwards;
    }

    /* Other Skills */
    .github-animation {
        animation: github-animation 1s 1 forwards;
    }

    .git-animation {
        animation: git-animation 1s 1 forwards;
    }

    .oop-animation {
        animation: oop-animation 1s 1 forwards;
    }

    .dom-animation {
        animation: dom-animation 1s 1 forwards;
    }

    .mongo-animation {
        animation: mongo-animation 1s 1 forwards;
    }
}